# Environnements virtuels
.venv/
.env

# Fichiers temporaires Python
__pycache__/
*.pyc

# Fichiers binaires / volumineux
*.pdf
*.jpg
*.jpeg
*.png
*.txt

# Données de Tesseract locales
semaine_01_ocr_pdf/tessdata/fra.traineddata

# Systèmes d'exploitation
.DS_Store           # macOS
Thumbs.db           # Windows

# VS Code settings (facultatif)
.vscode/
